/* Text styles */

.bg-text {
    color: white;
}


h2 {
    font-size: 1rem;
}



.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

nav>a {
    margin-left: 50px;
    color: black;
}

nav {
    background-color: white;
}

/* Images */

.bg-image {
    width: 100%;
    height: 100%;
}

.hero-img {
    background-image: url('imgs/Hero-br-img.png');

}

.class-img {
    background-image: url('imgs/Br-img-3.png');

}

.pricing-img {
    background-image: url('imgs/Br-img-2.png');

}

.contact-img {
    background-image: url('imgs/Hero-br-img.png');

}


.profile-img {
    border-radius: 99%;
    height: 100%x;
}

/* About */

.about-pic {
    max-height: 40%;
    align-self: center;
}

/* Testimonials */

.test-span {
    font-style: italic;
}