/* Text styles */

.bg-text {
    color: white;
}



h2,
p {
    font-size: 1rem;
}


/* Navbar */

nav>a {
    margin-left: 50px;
    color: black;
}

nav {
    background-color: white;
}

/* Images */

.bg-image {
    width: 100%;
    height: 100%;
}

.hero-img {
    background-image: url('imgs/Hero-br-img.png');

}

.class-img {
    background-image: url('imgs/Br-img-3.png');

}

.pricing-img {
    background-image: url('imgs/Br-img-2.png');

}

.contact-img {
    background-image: url('imgs/Hero-br-img.png');

}

.profile-img {
    border-radius: 40%;
    height: 100%;
}

/* About */

.about-pic {
    max-height: 40%;
    align-self: center;
}

/* Testimonials */

.test-span {
    font-style: italic;
}

/* Cookie modal */

.modal {
    display: none;
}

/* Carousel */